<!DOCTYPE html>
<html>
<head>
	<title>Facter</title>
</head>

<body>
	<input type='text' id='facter-request' />
	<button id="display-facts">Display Facts</button>
	<p id="fact-text"> </p>

</body>

<script src="/libs/jquery-1.7.2.min.js" type="text/javascript"></script>
<script src="/libs/underscore.js" type="text/javascript"></script>
<script src="/libs/backbone.js" type="text/javascript"></script>
<script src="/load_facts.js" type="text/javascript"></script>
</html>
